@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body{
    
  font-family: "Lexend", sans-serif;
}

.banner{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%),
    url(../src/assets/images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    
    width: 1320px;
    height: 600px;
    width: auto;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
   

    
}  